[submodule "ios-sdk-samples"]
	path = ios-sdk-samples
	url = https://github.com/BranchMetrics/branch-ios-sdk-samples.git
	branch = main
[submodule "web-sdk-samples"]
	path = web-sdk-samples
	url = https://github.com/BranchMetrics/branch-web-sdk-samples.git
	branch = main
[submodule "android-sdk-samples"]
	path = android-sdk-samples
	url = https://github.com/BranchMetrics/branch-android-sdk-samples.git
	branch = main
[submodule "react-native-samples"]
	path = react-native-samples
	url = https://github.com/BranchMetrics/branch-react-native-sdk-samples.git
	branch = main
